@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 댓글 스타일 */
@layer components {
  .comment-container {
    @apply bg-gray-100 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-3 mb-3 transition-shadow duration-300 ease-in-out;
  }

  .comment-container:hover {
    @apply shadow-md;
  }

  .comment-header {
    @apply mb-1;
  }

  .comment-author {
    @apply font-bold text-gray-800 dark:text-gray-200 mr-2;
  }

  .comment-date {
    @apply text-sm text-gray-600 dark:text-gray-400;
  }

  .comment-content {
    @apply text-gray-700 dark:text-gray-300;
  }

  /* Quill 에디터 컨텐츠 스타일 수정 */
  .ql-editor {
    @apply p-0;
  }

  .ql-editor p {
    @apply mb-2;
  }

  .ql-editor h1 {
    @apply text-2xl font-bold;
  }

  .ql-editor h2 {
    @apply text-xl font-bold;
  }

  .ql-editor h3 {
    @apply text-lg font-bold;
  }

  .ql-editor ul, .ql-editor ol {
    @apply pl-2;
  }
}

/* 모바일 대응 */
@media (max-width: 768px) {
  .comment-container {
    @apply p-3;
  }

  .comment-header {
    @apply flex-col items-start;
  }

  .comment-date {
    @apply text-xs mt-1;
  }
}